<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
<head>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
	<title>Seedme 2</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-alpha.5/css/bootstrap.min.css" integrity="sha384-AysaV+vQoT3kOAXZkl02PThvDr8HYKPZhNT5h/CXfBThSRXQ6jW5DO2ekP5ViFdi" crossorigin="anonymous"/>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.17.0/moment.min.js"/>
	<style type="text/css">
		.container {
		    display: flex;           /* establish flex container */
		    flex-direction: column;  /* make main axis vertical */
		    justify-content: center; /* center items vertically, in this case */
		    align-items: center;     /* center items horizontally, in this case */
		    height: 300px;
		}
		
		.box {
		    margin: 5px;
		    text-align: center;
		}
	</style>
</head>

<body>
	<div class="container">
		<div>
			<a href="https://www.seedme.org"><img src="https://www.seedme.org/sites/seedme.org/files/seedme-building-blocks.png"></img></a>
		</div>
		<div class="box">
			<form action="" method="post">
			  <button name="action" type="submit" class="btn btn-success" value="start">Start</button>
			  <button name="action" type="submit" class="btn btn-danger" value="stop">Destroy</button>
			  {% csrf_token %}
			</form>
		</div>
		<div class="box">
			<p>Started instance: <a target="_blank" href="http://{{running_container}}.{{request.get_host}}">{{running_container}}</a></p>
		</div>
		<div>
			Username: demo
			<br/>Password: {{password}}
		</div>
		<br/>
		<div class="box">
			<div id="good_until"></div>
		</div>
	</div>
	<script type="text/javascript">
		function showInterval() {
			var expiration = {{expiration}};
			if(expiration)
				document.getElementById("good_until").innerHTML = 
					"Your instance expires "+moment(expiration).fromNow();
		}
		showInterval();
		window.setInterval(showInterval, 1000);
	</script>
</body>

</html>
